/* General */
body {
    font-size: 20px;
    background-color: #fff;
}
div.description {
    padding-top: 50px;
    text-align: justify;
}
div.container {
    padding-top: 100px;
    background-color: rgba(238, 238, 238, 0.28);
    height:100%;
    box-shadow: 0px 0px 10px #888888;
}
/* Title */
div.title {
  text-align: center;
}
div.title h1 {
    font-size: 25px;
}
/* Map */
.state:hover {
  opacity: .5;
}
.hidden {
    display: none;
}
div.d3-tip {
    color: #222;
    background-color: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute;
}
/* Hist */
.bar {
  fill: steelblue;
}
.bar:hover {
  fill: brown;
}
.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
/** Table */
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;border-width:1px;border-style:solid;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-yw4l{vertical-align:top}
.tg .tg-yzt1{background-color:#efefef;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
table#confusion td:hover{
  background-color: rgba(22, 166, 59, 0.31);
}